:root{
    --color1:#53F4E0;
    --color2:#005259;
    --color3:#646464;
    --color4:#F9F9F9;
    --color5:#0078DB;
    --color6:#004884;
}


.active{
    color: var(--color2);
}

.container-1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 120px;
}


.text-area-1{
    width: 50%;
    margin-right: 200px;
}

.introduction-text{
    font-size: 50px;
    text-align: center;
    font-family: poppins;
    font-weight: bold;
    color: var(--color6);
    margin-bottom: 10px;
}

.introduction-content{
    color: var(--color5);
    font-family: poppins;
    font-size: 18px;
    text-align: justify;
}

.introduction-content span{
    font-weight: bold;
}

.image-area-1 img{
    width: 300px;
    height: 300px;
    border-radius: 25px;
    margin-left: 200px;
}

.container-2{
    margin-top: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 200px;
}

.text-area-2{
    width: 50%;
    margin-left: 200px;
}

.languages-text{
    font-size: 50px;
    text-align: center;
    font-family: poppins;
    font-weight: bold;
    color: var(--color6);
    margin-bottom: 30px;
}

.languages-list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.languages-list-container li{
    color: var(--color5);
    font-family: poppins;
    font-size: 25px;
}

.image-area-2 img{
    width: 300px;
    height: 300px;
    border-radius: 25px;
    margin-right: 200px;
}

.container-3{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.social-text{
    font-size: 50px;
    text-align: center;
    font-family: poppins;
    font-weight: bold;
    color: var(--color6);
    margin-bottom: 30px;
}

.social-container{
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.social-container img{
    width: 50px;
    height: 50px;
}